.titulo {
  font-size: 70px;
}


.title-a {
  font-size:24px;
}

.title-b {
  font-size:50px;
}

.guitarra h2 {
  font-size: 35px;
}

.servicios {
  color:brown;
}

.portada {
  background-image: url("../images/índice.jpeg");
  color:brown;
}

.menu {
  font-size: 24px;
}