body {
  margin:0px;
}

.button {
  border-radius: 5px;
  background: #fd324e;
  color:white;
  border: none;
  padding:7px;
  margin-top: 10px;
}

.titulo {
  font-size: 70px;
  margin-bottom:0px;
  margin-top: 150px;
}

.title-a {
  font-size:24px;
  margin-top: 0px;
}

.title-b {
  font-size:50px;
  margin-bottom: 20px;
}

.servicios h2 {
  font-size: 35px;
}

.servicio ol {
  padding: 0px;
}


.contenedor-servicio-derecha {
  padding-left: 20px;
}

.contenedor-servicio-izquierda {
  margin-left: 380px;
}

.portada {
  background-image: url("../images/índice.jpeg");
  color:brown;
  padding:10px;
  height: 468px;
}

.portada button {
  margin-bottom: 70px;
}

.header {
  position: relative;
}

.menu {
  font-size: 24px;
  display: inline-block;
  /*float: right;*/
  position: absolute;
  right:0px;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.logotipo {
  display: inline-block;
}

.contenedor {
  width:885px;
  margin:auto;
}


.servicio {
  overflow: hidden; 
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
  margin:10px;
  position: relative;
  border-radius: 10px;
}


.derecha {
  float:right;
  position: absolute;
  bottom: 0px;
  right:0px;
}

.izquierda{
  float:left;
  position: absolute;
  bottom: 0px;
  left:0px;
}

.footer {
  background: #F2F5A9;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.contacto {
  display: flex;
  flex-direction: column;
}

.contacto img{
  width: 150px;
  display:block;
}

.contacto strong {
  display: block;
}

.contacto a{
  display: block;
  text-decoration: none;
  margin-left: 10px 10px 10px 0px;
  padding: 10px;
  color:black;
}

.datos {
  display: flex;
}

.formulario {
  display: flex;
}

.col1, .col2 {
  margin-left: 10px;
}

.col1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}


.sexo, .intereses {
  margin-top: 15px;
}

.intereses {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}